.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 640px;

  background: #f5f7fa;
}
.home-page-btn {
  width: 132px;
  height: 32px;
  border: 0;
  color: #ffffff;
  background: #0284c7;
  border-radius: 8px;
}
