.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 645px;
  background-color: #f5f7fa;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
  .find-books {
    display: none;
  }
  .paragraph {
    font-size: 24px;
  }

  .home-page {
    width: 100vw;
    height: 100vh;
  }
  .bg-container {
    width: 100vw;
    height: 95vh;
  }
  .main-heading {
    font-size: 40px;
  }
}
.home-website-logo {
  height: 24px;
  width: 92px;
  margin-left: 20px;
  margin-right: 205px;
}
.bg-container {
  background-color: #e5e5e5;
  height: 600px;
}

.top-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 24px;
  margin-right: 24px;
}

.find-books-btn {
  height: 36px;
  width: 104px;
  border-radius: 8px;
  background-color: #0284c7;
  border: 0;
  color: #ffffff;
  font-family: 'Roboto';
}
.main-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;

  color: #1e293b;
}
.paragraph {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #475569;
}

@media screen and (max-width: 767px) {
  .md-find-books {
    display: none;
  }
}

.find-books {
  margin-top: 16px;
}

.books-heading {
  font-size: 16px;
  padding-top: 16px;
  margin-left: 24px;
}
.bg-top-rated-books {
  background-color: #ffffff;
  height: 203px;
  width: 360px;
  margin-bottom: 70px;
}
