.slick-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.book-image {
  height: 99px;
  width: 146px;
  border-radius: 2px;
  margin: 0px;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .book-image {
    width: 350px;
    height: 224px;
    border-radius: 2px;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
@media screen and (min-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    height: 24px;
    width: 24px;
  }
}
.title {
  font-size: 12px;
  margin: auto;
}
.author-name {
  font-size: 8px;
  margin-top: 0;
}
.book-link {
  text-decoration: none;
  color: #334155;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .author-name {
    font-size: 16px;
  }
}
