.mobile-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 56px;
  background-color: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86vw;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .mobile-nav-container {
    height: 89px;
  }
  .nav-container {
    flex-grow: 1;
  }
  .home-website-logo1 {
    width: 133px;
    height: 41px;
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  height: 16px;
  width: 16px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
}

.md-nav-items {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .md-nav-items {
    display: none;
  }
  .home-website-logo1 {
    width: 92px;
    height: 24px;
  }
}

.hamburger-menu {
  background-color: #f5f7fa;
  width: 360px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}
.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
  margin-right: 150px;
}

.nav-item {
  text-decoration: none;
  margin-right: 24px;
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  color: #64748b;
}

.logout-button {
  height: 32px;
  width: 73px;
  background-color: #0284c7;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
}

.close-button {
  height: 20px;
  width: 20px;
}
