.list-item1 {
  height: 160px;
  margin-bottom: 10px;
  max-width: 320px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .list-item1 {
    margin-left: 32px;
    margin-right: 70px;
  }
}
.cover-pic {
  min-width: 130px;
  height: 153px;
  border-radius: 8px;
}

.each-book {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .each-book {
    min-width: 318px;
  }
}
.book-details {
  margin-left: 10px;
}
.book-link {
  text-decoration: none;
}
.book-title {
  font-size: 16px;
}
.author {
  font-size: 14px;
}
.rating {
  display: flex;
  font-size: 12px;
}
.read-status {
  font-size: 12px;
}
