.cover-pic {
  min-width: 130px;
  height: 153px;
  border-radius: 8px;
}

.each-book {
  display: flex;
  align-items: center;
  height: 160px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .each-book {
    max-width: 320px;
    margin-right: 190px;
  }
}
.book-details {
  margin-left: 10px;
}
.book-link {
  text-decoration: none;
}
.book-title {
  font-size: 16px;
}
.author {
  font-size: 14px;
}
.rating {
  display: flex;
  font-size: 12px;
}
