.bookshelves-bg-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 640px;
  overflow-y: auto;
  background-color: #f5f7fa;
}
@media screen and (min-width: 768px) {
  .bookshelves-bg-section {
    height: 600px;
  }
  .md-main-container {
    display: flex;
  }
}
.md-book-shelf-container {
  min-width: 256px;
  height: 1176px;
  background-color: #ffffff;
  margin-top: 48px;
  margin-left: 60px;
  list-style-type: none;
}
.md-book-shelf-heading {
  font-size: 20px;
  color: #475569;
  margin-top: 32px;
}
.md-bookshelves-heading {
  font-size: 18px;
  color: #475569;
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .md-book-shelf-container {
    display: none;
  }
  .md-bookshelves-heading {
    display: none;
  }
}
.books-section {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  margin-top: 0;
  overflow-y: auto;
}
.bookshelves-list {
  display: flex;
  flex-direction: column;
}

.input-card {
  margin-top: 24px;
  margin-left: 20px;
  display: flex;
  width: 264px;
  height: 36px;
  color: #94a3b8;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
}
@media screen and (min-width: 768px) {
  .input-card {
    margin-top: 40px;
    border-radius: 4px;
  }
}
.input {
  width: 211px;
  height: 34px;
  border: 0;
  outline: none;
  padding: 10px;
}
.search-button {
  border: 0;
  width: 52px;
  height: 34px;
  background: #edeff1;
  border-radius: 0px 3px 3px 0px;
}

.bookshelves-heading {
  margin-left: 24px;
  margin-top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}
@media screen and (min-width: 768px) {
  .bookshelves-heading {
    display: none;
  }
  .md-bookshelves-container {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .md-bookshelves-container {
    width: 80vw;
  }
  .input-card {
    margin-left: 400px;
  }
}

.book-shelf-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 283px;
  margin-bottom: 0;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .book-shelf-list {
    display: none;
  }
}

.book-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .book-items {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.search-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}
.search-img {
  width: 257px;
  height: 176px;
  font-size: 16px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer1 {
  margin-top: 30px;
}
